html {
    min-height: 100%;
}

body {
    height: auto;
    /* background-image: url("../images/nightsky.jpg"); */
    background: url('../images/stars2.png') no-repeat left bottom, 
    linear-gradient(to bottom left, #000000, #23143b);
    /* background-color: black; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    color: white;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}
#name, #email, #textarea {
    color: white;
}
#submit {
    margin-bottom: 15px;
    background-color: #C46607;
}
#submit:hover{
    background-color: #DB8B03;
}
#submit:active{
    background-color: #D19903;
}

nav {
    background-color: black;
    margin-bottom: 30px;
}
li:hover {
    background-color: #1F1E1E;
}
a:hover{
    color: #C46607;
}
.page-footer {
    background-color: black;
    border-top: 6px solid #C46607;
    padding: 0;
}

a{
    color: white;
}

main {
    flex: 1 0 auto;
  }
header {
    /* padding: 80px; */
    background-image: url(../images/bloodmoon.jpg);
    background-position: center;
    background-size: 55%;
    background-color: black;
    border-bottom: 1px solid white;
    padding-bottom: 63px;
    padding-top: 35px;
    background-repeat: no-repeat;
}

span {
    font-weight: bold;
}

h1 {
    border: solid 4px white;
    width: 40%;
    font-size: 85px;
    margin: 0 auto;
    padding: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

.tables {
    background-color: #000000;
    height: 100%;
}

.portrait {
    width: 150px;
    height: 150px;
    border: 2px solid white;
}

.connect {
    width: 65px;
    height: 65px;
    margin-bottom: 30px;
}
.divider {
    border: 1px solid #C46607;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
h1 {
    border: solid 4px white;
    width: 90%;
    font-size: 389%;
}
header {
    background-size: 127%;
}

tables {
    background-color: #000000;
}

.portrait {
    position: relative;
    left: 25%;
}
    }